# ignore virtual environment
venv/

# ignore personalized data
cookie.txt
src/data/*.dat

# ignore pycache
__pycache__

# ignore codecov output files
.coverage

# ignore test implementations and templates
day__.py
day*-*.py